body{
    margin: 0;
    padding: 0;

}

.container{
  display:flex;
  justify-content: center;
  position: relative;
  
}

#fixed-header{
  background-color: aliceblue;
  display: flex;
  position: fixed;
  top: 0;
  width: 75%;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  z-index: 1;
  box-shadow: 5px 5px;
  border-radius: 0.5em;

}

a{
    margin: 3%;
    text-decoration: none !important;
    font-weight:bold;

}