body{
    margin: 0;
    padding: 0;
    background-color: #efefef;

}

.story-container{
    display: flex;
    margin: 0 auto;
    width: 60%;

    margin-top: 10%;

    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.box-story{
    width: 80vh;
    margin-top: 5%;
    font-size: 30px;
    
    
}

.story{
    margin-bottom: 5%;
    border: 1px solid blue;
    padding: 50px;
    border-radius: 1em;
    box-shadow: 10px 10px;
    background-color: rgb(234, 243, 251);
}